<div class="main_bar">
    <div class="main_top_bar">
        <div class="chatroom_name">hogefuga</div>
        <a  href="#" class="chatend_button">チャットを終了する</a>
    </div>
    <div class="main_chat_bar">
        <div class="messages_list">
            <div class="message_list_header">
                <p class="message_name">Tom</p>
                <p class="message_time">2025/9/7(Sun)12:00</p>
            </div>
            <p class="message_text">おはよう</p>
        </div>
       <div class="messages_list">
            <div class="message_list_header">
                <p class="message_name">Tom</p>
                <p class="message_time">2025/9/7(Sun)12:00</p>
            </div>
            <p class="message_text">おはよう</p>
        </div>
    </div>
    <div class="main_bottom_bar">
        <div class="form_input">
            <input class="form_message" placeholder="type a messae">
            <label class="form-image">
                <span class="image-file">画像</span>
                <input type="file" class="hidden">
            </label>
        </div>
        <input class="form_submit" type="submit" value="送信">
    </div>
</div>