<div class="main_bar">
    <div class="main_top_bar">
        <div class="chatroom_name">hogefuga</div>
        <a  href="#" class="chatend_button">チャットを終了する</a>
    </div>
    <div class="main_chat_bar">
    </div>
    <div class="main_bottom_bar">
    </div>
</div>